/*清除浮动*/
.clearfix :after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
/*链接样式*/
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
body {
  background: #e1e1e1;
}
.row {
  padding: 0px;
  margin: 0px;
}
header.header {
  height: 60px;
  background: #404040;
}
header.header .container {
  position: relative;
}
header.header .container .logo {
  padding: 11px 0;
  float: left;
}
header.header menu {
  float: right;
  padding: 0;
  margin: 0;
}
header.header menu .menuItem {
  float: left;
  color: #fff;
  line-height: 40px;
  padding: 10px 0;
  position: relative;
}
header.header menu .menuItem a {
  display: block;
  padding: 0 10px;
  margin-left: 34px;
}
header.header menu .menuItem a.active {
  background: #0086cc;
}
header.header menu .menuItem a:hover {
  background: #0086cc;
  transition: background linear 0.3s;
}
header.header menu .menuItem a:hover img {
  transform: rotate(180deg);
  transition: transform linear 0.2s;
}
header.header menu .menuMain {
  float: left;
  color: #fff;
  line-height: 40px;
  padding: 10px 0;
  position: static;
}
header.header menu .menuMain .item-title {
  position: relative;
}
header.header menu .menubar {
  height: 40px;
  position: absolute;
  background: #0086cc;
  left: 20px;
  margin: 10px 0;
  z-index: 0;
}
header.header .drop-down {
  background: rgba(64, 64, 64, 0.8);
  position: absolute;
  width: 100%;
  top: 80px;
  display: none;
  z-index: 5;
}
header.header .drop-down.drop-down-menu a {
  margin: 0;
  padding: 0;
  height: 34px;
  line-height: 34px;
  width: 100%;
  text-align: center;
}
header.header .drop-down-main-menu {
  left: 0;
  color: #000;
}
header.header .drop-down-main-menu menu.item {
  float: left;
  width: 168px;
  color: #fff;
  padding: 7px;
}
header.header .drop-down-main-menu menu.item .title {
  border-bottom: 1px solid #757575;
  margin-bottom: 5px;
}
header.header .drop-down-main-menu menu.item a {
  display: block;
  float: left;
  margin: 0;
  font-size: 12px;
  color: #c6c6c6;
  height: 30px;
  line-height: 30px;
}
.nav {
  background: #404040;
  height: 60px;
}
.nav .col-xs-1 img {
  margin-top: 12px;
  margin-left: 16px;
}
/* 移动端menu */
.rightMenu .titleBox {
  position: fixed;
  z-index: 50;
  top: 16px;
  right: 20px;
}
.rightMenu .titleBox ul,
.rightMenu .titleBox li {
  list-style: none;
  padding: 0px;
  margin: 0px ;
  color: white;
}
/* 移动端menu 的title */
.showTitle {
  width: 100%;
  height: 200px;
  background: #404040;
  color: #fff;
  opacity: 0.9;
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  overflow-y: scroll;
}
.showTitle .showHead {
  font-size: 16px;
  text-indent: 2em;
  margin-top: 8px;
}
.showTitle .showSon {
  font-size: 12px;
  text-indent: 4em;
  margin-top: 6px;
}
/* banner 轮播 */
.banner {
  background: #d4d4d4;
}
.banner .prevBtn,
.banner .nextBtn {
  padding: 6px;
  background: #cfcdcd;
  width: 50px;
  margin-top: 90%;
}
.banner .prevBtn:hover,
.banner .nextBtn:hover {
  background: #008bd5;
}
.animalList {
  padding-top: 300px;
  padding-bottom: 160px;
}
.animalList .text-center {
  position: relative;
}
.animalList .text-center .animalOne,
.animalList .text-center .animalTwo,
.animalList .text-center .animalThree,
.animalList .text-center .animalFour {
  position: absolute;
}
.animalList .text-center .animalOne img,
.animalList .text-center .animalTwo img,
.animalList .text-center .animalThree img,
.animalList .text-center .animalFour img {
  background: #008bd5;
  padding: 20px;
}
.animalList .text-center .animalOne p,
.animalList .text-center .animalTwo p,
.animalList .text-center .animalThree p,
.animalList .text-center .animalFour p {
  color: black;
}
.animalList .text-center .animalOne p:nth-of-type(1),
.animalList .text-center .animalTwo p:nth-of-type(1),
.animalList .text-center .animalThree p:nth-of-type(1),
.animalList .text-center .animalFour p:nth-of-type(1) {
  font-size: 18px;
  margin-top: 20px;
}
.animalList .text-center .animalOne p:nth-of-type(2),
.animalList .text-center .animalTwo p:nth-of-type(2),
.animalList .text-center .animalThree p:nth-of-type(2),
.animalList .text-center .animalFour p:nth-of-type(2) {
  color: #676767;
}
.animalList .text-center .animalOne p ~ p,
.animalList .text-center .animalTwo p ~ p,
.animalList .text-center .animalThree p ~ p,
.animalList .text-center .animalFour p ~ p {
  color: #383838;
}
/* animalList  ---移动端适配 */
@media only screen and (max-width: 767px) {
  .animalList {
    padding-bottom: 570px;
  }
  .animalThree,
  .animalFour {
    top: 400px;
  }
}
.are .container-fluid,
.are .col-lg-6 {
  margin: 0px;
  padding: 0px;
}
.are .container-fluid .areLeft,
.are .col-lg-6 .areLeft {
  position: relative;
}
.are .container-fluid .areLeft .weAre,
.are .col-lg-6 .areLeft .weAre {
  position: absolute;
  margin-top: -50px;
  left: 120px;
  background: #008bd5;
  color: #fff;
  font-size: 20px;
  padding: 20px 10px;
}
.are .container-fluid .areRight,
.are .col-lg-6 .areRight {
  position: relative;
}
.are .container-fluid .areRight .areInfor .inforAboutUs,
.are .col-lg-6 .areRight .areInfor .inforAboutUs,
.are .container-fluid .areRight .areInfor .inforTwo,
.are .col-lg-6 .areRight .areInfor .inforTwo,
.are .container-fluid .areRight .areInfor .inforThree,
.are .col-lg-6 .areRight .areInfor .inforThree,
.are .container-fluid .areRight .areInfor .inforBtn,
.are .col-lg-6 .areRight .areInfor .inforBtn {
  position: absolute;
  bottom: 0;
}
.are .container-fluid .areRight .areInfor .inforAboutUs,
.are .col-lg-6 .areRight .areInfor .inforAboutUs {
  font-size: 20px;
  color: #fff;
}
.are .container-fluid .areRight .areInfor .inforTwo,
.are .col-lg-6 .areRight .areInfor .inforTwo {
  font-size: 15px;
  color: #fff;
}
.are .container-fluid .areRight .areInfor .inforThree,
.are .col-lg-6 .areRight .areInfor .inforThree {
  color: #7ad1ff;
  font-size: 13px;
}
.are .container-fluid .areRight .areInfor .inforBtn,
.are .col-lg-6 .areRight .areInfor .inforBtn {
  color: #7ad1ff;
  font-size: 13px;
  position: absolute;
  bottom: 50;
  left: 44%;
  border: 1px #45bfff solid;
  width: 100px;
  padding-top: 12px;
}
.are .container-fluid .areRight .areInfor .inforBtn:hover,
.are .col-lg-6 .areRight .areInfor .inforBtn:hover {
  cursor: pointer;
  padding-left: 10px;
  background: #049def;
  transition: all 0.5s;
}
/* are ------------移动端适配 */
@media only screen and (max-width: 415px) {
  .are .container-fluid .areRight,
  .are .col-lg-6 .areRight {
    background: #008bd5;
    width: 100%;
    height: 600px;
  }
  .are .container-fluid .areRight .inforAboutUs,
  .are .col-lg-6 .areRight .inforAboutUs {
    margin-bottom: 300px;
  }
  .are .container-fluid .areRight .inforTwo,
  .are .col-lg-6 .areRight .inforTwo {
    margin-bottom: 150px;
  }
  .are .container-fluid .areRight .inforThree,
  .are .col-lg-6 .areRight .inforThree {
    margin-bottom: 50px;
  }
}
.case {
  padding-top: 260px;
}
.case .col-lg-4 {
  padding-left: 120px;
  position: relative;
}
.case .col-lg-4 .newCase {
  position: absolute;
  width: 120px;
  font-size: 20px;
  background: #008bd5;
  color: #fff;
  padding: 20px 10px;
}
.case .col-lg-8 {
  padding: 0px;
  position: relative;
}
.case .col-lg-8 ul {
  position: absolute;
}
.case .col-lg-8 ul li {
  list-style: none;
  float: left;
  font-size: 16px;
  padding: 4px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.case .col-lg-8 ul li:hover {
  background: #008bd5;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}
.imgNewsList .row .col-lg-4 {
  position: relative;
  margin: 200px 0;
}
.imgNewsList .row .col-lg-4 .twoImgList {
  position: absolute;
}
.imgNewsList .row .col-lg-4 .twoImgList .ulList {
  padding: 0px;
  margin: 0px;
}
.imgNewsList .row .col-lg-4 .twoImgList .ulList li {
  float: left;
  position: relative;
  overflow: hidden;
}
.imgNewsList .row .col-lg-4 .twoImgList .ulList li img {
  width: 409px;
  height: 242px;
}
.imgNewsList .row .col-lg-4 .twoImgList .ulList li .imgHidden {
  position: absolute;
  height: 0;
  bottom: 0;
}
.imgNewsList .row .col-lg-4 .twoImgList .ulList li .imgHidden .text {
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 14px;
}
.imgNewsList .row .col-lg-4 .twoImgList .ImgTitle {
  margin-top: 230px;
}
.imgNewsList .row .col-lg-4 .twoImgList .ImgTitle p:nth-of-type(1) {
  color: #000;
  font-size: 15px;
}
.imgNewsList .row .col-lg-4 .twoImgList .ImgTitle p:nth-of-type(2) {
  color: #8f8f8f;
  font-size: 13pxs;
}
.imgNewsList .row .col-lg-4 .sileOneImg,
.imgNewsList .row .col-lg-4 .sileTwoImg,
.imgNewsList .row .col-lg-4 .sileThreeImg {
  top: 100px;
  margin-bottom: 150px;
}
.imgNewsList .row .col-lg-12 .bottomBtn {
  color: #000;
  font-size: 13px;
  position: absolute;
  bottom: 50;
  left: 44%;
  border: 1px #b0b0b0 solid;
  width: 100px;
  padding: 12px 0;
}
.imgNewsList .row .col-lg-12 .bottomBtn:hover {
  cursor: pointer;
  padding-left: 10px;
  background: #049def;
  color: #fff;
  transition: all 0.5s;
}
/* imgNewsList  ---移动端适配*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .imgNewsList .row .col-lg-10 .col-lg-4 .twoImgList .ulList {
    margin-left: 150px;
  }
  .imgNewsList .row .col-lg-10 .col-lg-4 .twoImgList .ImgTitle {
    margin-left: 150px;
    margin-top: 230px;
  }
}
/* imgNewsList  ---移动端适配*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .imgNewsList .row .col-lg-10 .col-lg-4 .sileFourImg {
    top: 20px;
  }
}
/* imgNewsList  ---移动端适配*/
@media only screen and (max-width: 768px) {
  .imgNewsList .row .col-lg-10 .col-lg-4 {
    padding-bottom: 150px;
  }
  .imgNewsList .row .col-lg-10 .col-lg-4 .sileFourImg {
    top: 100px;
  }
  .imgNewsList .row .col-lg-10 .col-lg-4 .sileFiveImg {
    margin: 100px 0;
  }
  .imgNewsList .row .col-lg-10 .col-slid {
    padding-bottom: 0;
  }
}
.threeCade {
  position: relative;
}
.threeCade .box {
  margin-top: 40px ;
  background: #d1d1d1;
  width: 100%;
  height: 390px;
}
.threeCade .box .list {
  display: none;
  position: absolute;
  margin-top: 170px;
  width: 100%;
}
.threeCade .box .list .row .shadow {
  padding-bottom: 80px;
}
.threeCade .box .list .row .shadow .row {
  padding-top: 50px;
}
.threeCade .box .list .row .shadow .row .col-lg-3,
.threeCade .box .list .row .shadow .row .col-md-3,
.threeCade .box .list .row .shadow .row .col-sm-2 {
  padding: 0;
}
.threeCade .box .list .row .shadow .row .col-lg-3 p:nth-of-type(1),
.threeCade .box .list .row .shadow .row .col-md-3 p:nth-of-type(1),
.threeCade .box .list .row .shadow .row .col-sm-2 p:nth-of-type(1) {
  font-size: 20px;
}
.threeCade .box .list .row .shadow .row .col-lg-3 p:nth-of-type(2),
.threeCade .box .list .row .shadow .row .col-md-3 p:nth-of-type(2),
.threeCade .box .list .row .shadow .row .col-sm-2 p:nth-of-type(2) {
  text-indent: 2em;
}
.threeCade .box .list .row .shadow .row .col-lg-7,
.threeCade .box .list .row .shadow .row .col-md-7,
.threeCade .box .list .row .shadow .row .col-sm-7 {
  padding: 0;
}
.threeCade .box .list .row .shadow .row .col-lg-7 p:nth-of-type(2),
.threeCade .box .list .row .shadow .row .col-md-7 p:nth-of-type(2),
.threeCade .box .list .row .shadow .row .col-sm-7 p:nth-of-type(2) {
  color: gray;
  font-size: 13px;
}
.threeCade .box .list .row .shadow:hover {
  box-shadow: 0 0 20px 2px gray;
  cursor: pointer;
  transition: all 0.5s;
}
.threeCade .box .list .row .shadow:hover .row .col-lg-7 p,
.threeCade .box .list .row .shadow:hover .row .col-md-7 p {
  text-decoration: underline;
}
.threeCade .btn-list {
  position: absolute;
  width: 100%;
  bottom: 100px;
  text-align: center;
}
.threeCade .btn-list span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: dimgray;
  border-radius: 50%;
}
.threeCade .btn-list span.active {
  background: #0086CC;
}
.threeCade .bttn {
  right: 120px;
  top: -60px;
  position: absolute;
  top: 100px;
}
.threeCade .bttn button {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
}
.threeCade .bttn button.active {
  background: #0086CC;
  color: #fff;
}
/* threeCade  ---移动端适配*/
@media only screen and (max-width: 769px) {
  .threeCade {
    position: relative;
  }
  .threeCade .box {
    margin-top: 40px ;
    background: #d1d1d1;
    width: 100%;
    height: 500px;
  }
}
/* threeCade  ---移动端适配*/
.footerBottom {
  background: #505050;
  height: 400px;
}
.footerBottom .row .leftInfor .row .col-lg-4 .leftTitle {
  position: relative;
  margin-top: 380px;
}
.footerBottom .row .leftInfor .row .col-lg-4 .leftTitle .small {
  position: absolute;
}
.footerBottom .row .leftInfor .row .col-lg-4 .leftTitle .small p {
  font-size: 20px;
  color: #777777;
}
.footerBottom .row .leftInfor .row .col-lg-4 .leftTitle .small p:nth-of-type(1) {
  color: #fff;
  margin: 0px;
}
.footerBottom .row .leftInfor .row .col-lg-4 .leftTitle .small p:nth-of-type(4) img:nth-of-type(2) {
  margin: 0 22px;
}
.footerBottom .row .rightInfor {
  margin-top: 380px;
}
.footerBottom .row .rightInfor .row .col-lg-3 {
  position: relative;
}
.footerBottom .row .rightInfor .row .col-lg-3 .oneRight,
.footerBottom .row .rightInfor .row .col-lg-3 .twoRight,
.footerBottom .row .rightInfor .row .col-lg-3 .threeRight {
  position: absolute;
}
.footerBottom .row .rightInfor .row .col-lg-3 .oneRight p,
.footerBottom .row .rightInfor .row .col-lg-3 .twoRight p,
.footerBottom .row .rightInfor .row .col-lg-3 .threeRight p {
  color: #fff;
}
.footerBottom .row .rightInfor .row .col-lg-3 .oneRight p:nth-of-type(1),
.footerBottom .row .rightInfor .row .col-lg-3 .twoRight p:nth-of-type(1),
.footerBottom .row .rightInfor .row .col-lg-3 .threeRight p:nth-of-type(1) {
  font-size: 16px;
  padding: 0 20px 8px 0;
  border-bottom: 1px solid #747474;
}
.footerBottom .bottomContact {
  margin: 100px 0 0 20px;
  color: #fff;
}
.bottom {
  background: #404040;
}
.bottom p {
  color: #6e6e6e;
  font-size: 12px;
  padding: 20px 0;
  margin: 0;
}
