.boxMenu {
  width: 100%;
  background: #fbfbf9;
}
.boxMenu div.menu {
  margin: 0 auto;
  width: 1000px;
  height: 80px;
}
.boxMenu div.menu .boxLeft {
  width: 250px;
  height: 78px;
  float: left;
}
.boxMenu div.menu .boxLeft img {
  width: 210px;
  height: 40px;
  margin-top: 15px;
}
.boxMenu div.menu .boxRight {
  width: 700px;
  height: 78px;
  float: right;
}
.boxMenu div.menu .boxRight ul li:nth-of-type(7) {
  background: none;
}
.boxMenu div.menu .boxRight ul li:nth-of-type(7) span:nth-of-type(1) {
  color: black;
}
.boxMenu div.menu .boxRight ul li:nth-of-type(7) span:nth-of-type(2) {
  color: grey;
}
.boxMenu div.menu .boxRight ul li {
  width: 70px;
  height: 78px;
  float: right;
  background: url(../img/img2.jpg) no-repeat;
  background-position: right 0;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
}
.boxMenu div.menu .boxRight ul li span:nth-of-type(2) {
  color: grey;
}
.boxMenu div.menu .boxRight ul li:hover {
  background: url(../img/img1.jpg);
}
.boxMenu div.menu .boxRight ul li:hover span:nth-of-type(1) {
  color: white;
}
.boxMenu div.menu .boxRight ul li:hover span:nth-of-type(2) {
  color: grey;
}
.boxMenu div.menu .boxRight ul li:nth-of-type(6) {
  background: url(../img/img1.jpg);
}
.boxMenu div.menu .boxRight ul li:nth-of-type(6) span:nth-of-type(1) {
  color: white;
}
.boxMenu div.menu .boxRight ul li:nth-of-type(6) span:nth-of-type(2) {
  color: grey;
}
.navHeader {
  background: #47505f;
}
.navHeader .col-lg-9 {
  color: #ffff;
  padding: 6px 0;
  padding-bottom: 5px;
}
.navHeader .col-lg-9 span {
  font-size: 30px;
  color: #8892a3;
}
.newsList .row .col-lg-6 {
  padding: 8px 0;
}
.newsList .row .col-lg-6 .title {
  font-size: 20px;
  margin-top: 14px;
}
.newsList .row .col-lg-6 .row {
  margin-top: 10px;
  border-bottom: 1px #aeaeae solid;
  padding-bottom: 18px;
}
.newsList .row .col-lg-6 .row img,
.newsList .row .col-lg-6 .row p {
  margin-left: 10px;
}
.newsList .row p {
  font-size: 12px;
}
.newsList .row .time {
  font-size: 12px;
  color: #aeaeae;
}
.newsList .row .rightList {
  font-size: 20px;
  color: #6c737f;
  margin-left: 22px;
}
.newsList .row .rightList li {
  border-bottom: 1px gray solid;
  padding: 10px 0;
}
.newsList .row .rightList li:nth-of-type(1) {
  color: red;
  background: lightgray;
}
.footer .row {
  margin: 0 auto;
}
.nextActicle {
  border: 1px black solid;
  background: gainsboro;
  width: 70px;
  margin: 0 auto;
  padding: 6px 10px;
}
